name: Set up GCP Auth

description: Install gcloud CLI and authenticate using Workload Identity Federation

inputs:
  GCP_PROJECT_ID:
    description: 'GCP Project ID'
    required: true
  GCP_WORKLOAD_IDENTITY_PROVIDER:
    description: 'workload identity provider for google cloud auth'
    required: true

runs:
  using: composite
  steps:
    - name: Authenticate to GCP
      uses: google-github-actions/auth@v3
      with:
        workload_identity_provider: ${{ inputs.GCP_WORKLOAD_IDENTITY_PROVIDER }}
        project_id: ${{ inputs.GCP_PROJECT_ID }}

    - name: Set up gcloud CLI
      uses: google-github-actions/setup-gcloud@v2

    - name: Set gcloud project
      shell: bash
      run: |
        gcloud config set project ${{ inputs.GCP_PROJECT_ID }}

    - name: Install GKE auth plugin
      shell: bash
      run: |
        gcloud components install gke-gcloud-auth-plugin --quiet
        echo "USE_GKE_GCLOUD_AUTH_PLUGIN=True" >> $GITHUB_ENV

    - name: Verify authentication
      shell: bash
      run: |
        gcloud auth list

    - name: Configure a mock huggingface token
      shell: bash
      run: |
        mkdir -p $HOME/.cache/huggingface
        echo "mockingHFToken" > $HOME/.cache/huggingface/token
