{{- range (.Values.kubetorchConfig.deployment_namespaces | default list | concat (list .Release.Namespace) | uniq) }}
---
apiVersion: v1
kind: Service
metadata:
  name: kubetorch-data-store
  namespace: {{ . }}
spec:
  selector:
    app: kubetorch-data-store
  ports:
    - name: rsync
      port: 873
      targetPort: 873
    - name: http-tunnel
      port: 8080
      targetPort: 8080
    - name: metadata
      port: {{ $.Values.dataStore.metadataPort | default 8081 }}
      targetPort: {{ $.Values.dataStore.metadataPort | default 8081 }}
    - name: loki
      port: 3100
      targetPort: 3100
  type: ClusterIP
{{- end }}
