{{- if .Values.ephemeralMonitoring.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: kubetorch-grafana-dashboard-provider
  namespace: {{ .Release.Namespace }}
data:
  dashboards.yaml: |
    apiVersion: 1
    providers:
      - name: 'default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards
{{- end }}
