name: Minimal tests with fixtures

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'python_client/kubetorch/docs/**'
      - 'python_client/tests/test_deploy.py'
      - '**/*.md'
      - '**/*.rst'
      - '**/*.tf'
      - 'exploratory/**'
      - 'cluster_setup/**'
      - '.github/workflows/create_cluster.yaml'
      - '.github/workflows/deploy_tests.yaml'
      - '.github/workflows/create_cluster/action.yaml'
      - '.github/workflows/delete_cluster.yaml'

  pull_request:
    paths-ignore:
      - 'python_client/kubetorch/docs/**'
      - 'python_client/tests/test_deploy.py'
      - '**/*.md'
      - '**/*.rst'
      - '**/*.tf'
      - 'exploratory/**'
      - 'cluster_setup/**'
      - '.github/workflows/create_cluster.yaml'
      - '.github/workflows/deploy_tests.yaml'
      - '.github/workflows/create_cluster/action.yaml'
      - '.github/workflows/delete_cluster.yaml'

  workflow_dispatch:

jobs:
  imperative-deployment:
    uses: ./.github/workflows/test-job.yaml
    with:
      test_name: imperative-deployment
      test_suffix: ""
      pytest_command: "pytest -v --durations=100 tests/test_deployment_fixtures.py --level minimal --detached"
      extra_env_vars: |
        TEST_COMPUTE_TYPE=deployment
        SERVICE_NAME_PREFIX=fixture-deployment
    secrets: inherit

  imperative-knative:
    uses: ./.github/workflows/test-job.yaml
    with:
      test_name: imperative-knative
      test_suffix: ""
      pytest_command: "pytest -v --durations=100 tests/test_deployment_fixtures.py --level minimal --detached"
      extra_env_vars: |
        TEST_COMPUTE_TYPE=knative
        SERVICE_NAME_PREFIX=fixture-knative
    secrets: inherit

  imperative-ray:
    uses: ./.github/workflows/test-job.yaml
    with:
      test_name: imperative-ray
      test_suffix: ""
      pytest_command: "pytest -v --durations=100 tests/test_deployment_fixtures.py --level minimal --detached"
      extra_env_vars: |
        TEST_COMPUTE_TYPE=ray
        SERVICE_NAME_PREFIX=fixture-ray
    secrets: inherit

  cleanup:
    if: ${{ always() }}
    needs:
      - imperative-deployment
      - imperative-knative
      - imperative-ray
    uses: ./.github/workflows/cleanup.yaml
    with:
      test_suffixes: "-fixture-deploy,-fixture-knative,-fixture-ray"
      configure_rbac: true
    secrets: inherit
