name: Minimal tests

on:
  push:
    branches: [main]
    paths-ignore:
      - 'python_client/kubetorch/docs/**'
      - 'python_client/tests/test_deploy.py'
      - '**/*.md'
      - '**/*.rst'
      - '**/*.tf'
      - 'exploratory/**'
      - 'cluster_setup/**'
      - '.github/workflows/create_cluster.yaml'
      - '.github/workflows/deploy_tests.yaml'
      - '.github/workflows/create_cluster/action.yaml'
      - '.github/workflows/delete_cluster.yaml'

  pull_request:
    paths-ignore:
      - 'python_client/kubetorch/docs/**'
      - 'python_client/tests/test_deploy.py'
      - '**/*.md'
      - '**/*.rst'
      - '**/*.tf'
      - 'exploratory/**'
      - 'cluster_setup/**'
      - '.github/workflows/create_cluster.yaml'
      - '.github/workflows/deploy_tests.yaml'
      - '.github/workflows/create_cluster/action.yaml'
      - '.github/workflows/delete_cluster.yaml'

  workflow_dispatch:

jobs:
  cli-tests:
    uses: ./.github/workflows/test-job.yaml
    with:
      test_name: cli
      test_suffix: -cli
      pytest_command: "pytest tests/test_cli.py -v --level minimal -m 'not gpu_test'"
      configure_rbac: true
    secrets: inherit

  monitoring-tests:
    uses: ./.github/workflows/test-job.yaml
    with:
      test_name: monitoring
      test_suffix: -mon
      pytest_command: "pytest -v --durations=25 --level minimal -k 'monitoring'"
      install_additional_deps: true
      stream_logs: true
      stream_metrics: true
    secrets: inherit

  pod-from-pod-tests:
    uses: ./.github/workflows/test-job.yaml
    with:
      test_name: pod-from-pod
      test_suffix: -pod
      pytest_command: "pytest -v tests/test_pod_from_pod.py --durations=25 --level minimal -m 'not gpu_test'"
    secrets: inherit

  distributed-tests:
    uses: ./.github/workflows/test-job.yaml
    with:
      test_name: distributed
      test_suffix: -dist
      pytest_command: "pytest -v tests/test_distributed.py --durations=25 --level minimal -m 'not gpu_test'"
      install_additional_deps: true
      install_ray: true
      stream_logs: true
    secrets: inherit

  python-path-tests:
    uses: ./.github/workflows/test-job.yaml
    with:
      test_name: python-path
      test_suffix: -python
      pytest_command: "pytest -v tests/test_python_path.py --durations=25 --level minimal -m 'not gpu_test'"
    secrets: inherit

  secret-tests:
    uses: ./.github/workflows/test-job.yaml
    with:
      test_name: secret
      test_suffix: -secret
      pytest_command: "pytest -v tests/test_secret.py --durations=25 --level minimal -m 'not gpu_test'"
      extra_env_vars: |
        client_id=my-client-id
        client_secret=my-client-secret
    secrets: inherit

  declarative-tests:
    uses: ./.github/workflows/test-job.yaml
    with:
      test_name: declarative
      test_suffix: -decl
      pytest_command: "pytest -v tests/test_declarative.py --durations=100 --level minimal -m 'not gpu_test'"
    secrets: inherit

  app-tests:
    uses: ./.github/workflows/test-job.yaml
    with:
      test_name: app
      test_suffix: -app
      pytest_command: "pytest -v tests/test_app.py --durations=100 --level minimal -m 'not gpu_test'"
    secrets: inherit

  manifest-tests:
    uses: ./.github/workflows/test-job.yaml
    with:
      test_name: manifest
      test_suffix: -manifest
      pytest_command: "pytest -v tests/test_byo_manifest.py --durations=25 --level minimal -m 'not gpu_test'"
      install_additional_deps: true
      install_ray: true
      setup_kueue: true
    secrets: inherit

  imperative-tests:
    uses: ./.github/workflows/test-job.yaml
    with:
      test_name: imperative
      test_suffix: -imp
      pytest_command: "pytest -v --durations=25 --level minimal -m 'not gpu_test' tests/test_imperative.py"
    secrets: inherit

  controller-tests:
    uses: ./.github/workflows/test-job.yaml
    with:
      test_name: controller
      test_suffix: -ctrl
      pytest_command: "pytest -v --durations=25 --level minimal -m 'not gpu_test' tests/test_controller.py tests/test_rbac.py tests/test_store.py"
    secrets: inherit

  compute-tests:
    uses: ./.github/workflows/test-job.yaml
    with:
      test_name: compute
      test_suffix: -comp
      pytest_command: "pytest -v --durations=25 --level minimal -m 'not gpu_test' tests/test_compute.py tests/test_byo_compute.py tests/test_autoscale.py tests/test_autodown.py tests/test_kueue.py"
      setup_kueue: true
    secrets: inherit

  cleanup:
    if: ${{ always() }}
    needs:
      - cli-tests
      - monitoring-tests
      - pod-from-pod-tests
      - distributed-tests
      - python-path-tests
      - secret-tests
      - declarative-tests
      - app-tests
      - manifest-tests
      - imperative-tests
      - controller-tests
      - compute-tests
    uses: ./.github/workflows/cleanup.yaml
    with:
      test_suffixes: "-mon,-cli,-pod,-dist,-python,-secret,-decl,-app,-manifest,-imp,-ctrl,-comp"
      configure_rbac: true
      delete_byo_pods: true
      delete_test_namespaces: true
    secrets: inherit
